/* || General styles */
html {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    margin: 0;
}

/* || Shared styles */

header, footer {
    background-color: #1F2937;
    color: #ffffff;
}

a, .hero > p, footer > p {
    font-size: 1.125em;
    color: #E5E7EB;
}

.logo, .hero > h1 {
    color: #F9FAF8;
}

.info > h1, #quote-text {
    font-size: 2.250em;
    color: #1F2937;
}

button, .call, .item > img {
    border-radius: 0.5em;
    border: 0.20em solid #3882F6;
}

button, .call {
    background-color: #3882F6;
    padding: 0.5em 1em;
    color: #FFFFFF;
    font-weight: bold;
}

/* || Flexbox */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 65%;
    display: flex;
}

.padding {
    padding: 5% 0;
}

/* || Header Navigation */

nav > .wrapper {
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1em;
}

a {
    text-decoration: none;
}

/* || Header Hero */

#hero-flex {
    justify-content: space-between;
    gap: 2em;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.hero > h1 {
    font-size: 3em;
    margin: 0
}

/* || Info */

.info {
    flex-direction: column;
    text-align: center;
}

.info > h1 {
    font-weight: 800;
}

.info > .wrapper {
    justify-content: center;
    gap: 4em;
}

.item {
    max-width: 200px;
}

.item > p {

}

/* || Quote */

.quote {
    background-color: #E5E7EB;
}

.quote > .wrapper {
    flex-direction: column;
}

#quote-text {
    font-weight: 300;
    font-style: italic;
}

#quote-author {
    align-self: flex-end;
}

/* || Footer */

footer {
    padding: 2% 0;
}